.rodo {
    font-family: "Open Sans", serif;
    font-style: italic;
    font-size: 0.6em;
    color: gray;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1.5rem;
    padding-left: 6.66%;
}

.profiles {
    display: table !important;
}